@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri.eot');
	src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibri.woff2') format('woff2'),
		url('../fonts/calibri.woff') format('woff'),
		url('../fonts/calibri.ttf') format('truetype'),
		url('../fonts/calibri.svg#Calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri-bold.eot');
	src: url('../fonts/calibri-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/calibri-bold.woff2') format('woff2'),
		url('../fonts/calibri-bold.woff') format('woff'),
		url('../fonts/calibri-bold.ttf') format('truetype'),
		url('../fonts/calibri-bold.svg#Calibri-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
		url('../fonts/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
		url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}