.creator {
  .clearfix;
  
  &__content {
    color: #fff;
    font-family: @font-family-secondary;
    font-size: 21px;
    line-height: 30px;
    float: left;
  }
  
  &__link {
    margin-left: 12px;
    float: left;
  }
}