.header {
  height: @header-height;
  padding: 21px 0;
  background: rgba(255, 255, 255, .55);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
      
  @media screen and (max-width: @screen-md) {
    padding: 0;
  }
      
  @media screen and (max-width: @screen-xs) {
    height: auto;
  }
  
  &__wrapper {
    padding: 0 0 0 25px;
  }
  
  &__btns {
    .clearfix;
    float: right;
  }
  
  &__btns-item {
    float: left;
    text-decoration: none;
    display: block;
      
    @media screen and (max-width: @screen-md) {
      width: 139px;
      text-align: center;
      height: @header-height;
    }
      
    @media screen and (max-width: (@screen-xs - 50)) {
      width: 100px;
      padding: 0 15px;
    }
      
    @media screen and (max-width: (@screen-xs - 80)) {
      width: auto;
      padding: 0 7.5px;
    }
  }
  
  &__login {
    margin-right: 32px;
      
    @media screen and (max-width: @screen-md) {
      margin: 21px auto 0;
    }
      
    @media screen and (max-width: (@screen-xs - 50)) {
      width: 70px;
      margin: 21px 0 0;
    }
  }
  
  &__signup {
      
    @media screen and (max-width: @screen-md) {
      margin: 21px auto 0;
    }
      
    @media screen and (max-width:(@screen-xs - 50)) {
      width: 70px;
      margin: 21px 0 0;
    }
  }
}