.promo {
  background: url(../img/promo-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  
  &__wrapper {
    padding-top: @header-height + 78px;
    padding-bottom: 130px;
    height: 100%;
    position: relative;
  }
  
  &__content {
    width: 480px;
  }
  
  &__header {
    color: #fffefe;
    font-family: @font-family-main;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: .8px;
  }
  
  &__header-comment {
    font-size: 36px;
    color: #fffefe;
    font-family: @font-family-main;
    margin-top: 5px;
  }
  
  &__dscr {
    color: #fefcfc;
    font-family: @font-family-main;
    font-size: 21px;
    line-height: 30px;
  }
  
  &__demo {
    position: absolute;
    right: -104px;
    bottom: -33px;
  }
  
  &__form {
    margin-top: 105px;
  }
}