.start-work {
  .clearfix;
    
  @media screen and (max-width: @screen-xs) {
    &:after {
      display: none;
    }
  }
  
  &__input {
    float: left;
    
    @media screen and (max-width: @screen-xs) {
      float: none;
    }
  }
  
  &__btn {
    float: left;
    margin-left: 35px;
    
    @media screen and (max-width: @screen-xs) {
      float: none;
      margin-left: 0;
      margin-top: 22px;
    }
  }
}