<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Title</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
</head>

<body>
  <header class="header">
    <div class="wrapper clearfix">
      <a href="#" class="logo"><img src="img/logo.png" alt="Logo" class="logo__img"></a>
      <div class="header__btns clearfix">
        <a href="#" class="btn btn--white header__login">Sign in</a>
        <a href="#" class="btn btn--blue header__signup">Sign up</a>
      </div>
    </div>
  </header>
  
  <div class="promo">
    <div class="wrapper">
      <div class="promo__content">
        <h1 class="promo__header">Free CRM System <span class="promo__header-comment">for Digital Service Companies</span></h1>
        <p class="promo__dscr">Streamline your sales just in a couple of clicks. Work calendar, invoices, personnel and customer lists, LinkedIn integration – all in one place! Always online and free.</p>
        <form action="#" class="start-work">
          <input type="text" class="input-text start-work__input" placeholder="Your e-mail">
          <button class="btn btn--white btn-large">Start Work</button>
        </form>
      </div>
      <div class="demo promo__demo">
        <div class="demo__hands"></div>
        <div class="demo__device"></div>
        <div class="demo__content"></div>
      </div>
      <div class="arrow-scroll"></div>
    </div>
  </div>
  
  <div class="features">
    <div class="wrapper">
      <h2 class="features__header">Le7 Opportunities Are Your Advantages!</h2>
      <ul class="features__list">
        <li class="features__item">
          <img src="img/feature-1.png" alt="Notebook" class="features__icon">
          <h3 class="features__item-header">Handy Notebook</h3>
          <p class="features__item-dscr">Keep your main contacts always with you. Add all necessary info and notes – a person’s personality, position, etc. Remember: you can convert any contact into a customer and share it with your co-worker – it takes just a few seconds. If needed, download information directly from your LinkedIn account.</p>
        </li>
        <li class="features__item">
          <img src="img/feature-2.png" alt="Database" class="features__icon">
          <h3 class="features__item-header">Organized Customer Database</h3>
          <p class="features__item-dscr">Create a client table, add contacts and comments, give ratings for everyone of them. Fill in a card for every customer – attach deals and projects data, submit documents, receipts, and any other files. Customer List is also integrated with LinkedIn.</p>
        </li>
        <li class="features__item">
          <img src="img/feature-3.png" alt="Man" class="features__icon">
          <h3 class="features__item-header">Detailed List of Contracts</h3>
          <p class="features__item-dscr">Create a client table, add contacts and comments, give ratings for everyone of them. Fill in a card for every customer – attach deals and projects data, submit documents, receipts, and any other files. Customer List is also integrated with LinkedIn.</p>
        </li>
        <li class="features__item">
          <img src="img/feature-4.png" alt="Contacts List" class="features__icon">
          <h3 class="features__item-header">Contacts of Personnel and Team Members </h3>
          <p class="features__item-dscr">Keep contact details of your colleagues all in one place or submit your CV directly from LinkedIn. Organize this information and add details concerning positions, working hours, etc.</p>
        </li>
        <li class="features__item">
          <img src="img/feature-5.png" alt="PDF file" class="features__icon">
          <h3 class="features__item-header">Simple Creation of Invoices</h3>
          <p class="features__item-dscr">Keep contact details of your colleagues all in one place or submit your CV directly from LinkedIn. Organize this information and add details concerning positions, working hours, etc.</p>
        </li>
        <li class="features__item">
          <img src="img/feature-6.png" alt="Calendar" class="features__icon">
          <h3 class="features__item-header">Classic Calendar with Notifications</h3>
          <p class="features__item-dscr">Plan your business hours, add tasks and reminder notes for your personnel and corporate projects. And do not worry about missing a meeting – you will receive a notification online in your browser.</p>
        </li>
      </ul>
      <div class="features__comment">Plan your business hours, add tasks and reminder notes for your personnel and corporate projects. And do not worry about missing a meeting – you will receive a notification online in your browser.</div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="wrapper">
      <form action="#" class="start-work">
        <input type="text" class="input-text start-work__input" placeholder="Your e-mail">
        <button class="btn btn--white btn-large">Start Work</button>
      </form>
      <div class="footer__bottom">
        <p class="footer__contacts">Any questions or suggestions? Please, contact us, we will be glad to answer your questions – <a href="mailto:hello@soshace.com">hello@soshace.com</a></p>
        <div class="creator">
          Made in
          <a href="#" class="creator__link"><img src="img/soshace-logo.png" alt="Soshace logo" class="soshace-logo"></a>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>

</html>